.circular-progress-bar {
  transform: rotate(180deg);
}

.circular-progress-bar-bg {
  transition: stroke-dashoffset 0.35s;
  transform-origin: 50% 50%;
}

.circular-progress-bar-fg {
  transition: stroke-dashoffset 0.35s;
  transform-origin: 50% 50%;
}

.circular-progress-bar-text {
  font-size: 1.5em;
  fill: #333;
  font-family: Arial, sans-serif;
}
