@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-image: url("./image.png");
  background-size: cover;
  backdrop-filter: blur(70px);
  background-repeat: repeat-x;
  background-color: #0f0f0f;
}
